# Бинарные файлы (результат сборки)
# Если ты соберешь проект командой 'go build', появится исполняемый файл.
# Его не нужно пушить в репозиторий.
*.exe
*.exe~
*.dll
*.so
*.dylib
# Название твоего скомпилированного приложения (замени 'pool' на свое)
pool

# Тесты и покрытие
*.test
*.out

# Зависимости (Go скачивает их в отдельную папку в системе,
# а не в проект, но иногда создается папка vendor)
vendor/

# Настройки редакторов (то, что тебя бесило в VS Code)
.vscode/
.idea/
*.swp
*.lwpc

# Файлы операционных систем
.DS_Store
Thumbs.db

# Базы данных
*.db
*.sqlite
*.sqlite3

# Остальное
deploy.sh
app
